.normal{
background-color: lightgray;
}
.water,.ice{
    background-image:url("/img/sobble\ \(online-video-cutter.com\).gif");
    background-size: cover;

}
.fire{
    background-image:url("/img/scorbunny\ \(online-video-cutter.com\).gif");
    background-size: cover;

}
.electric{
 background-color: rgb(247, 247, 137);

}
.dragon{
    background-color:#fd9090;
    
    }
.fighting{
background-color:#beb6b6;

}
.ground{
background-color:#e7f4da;

}
.psychic{
background-image:url("/img/psychic-type_hLtSSbxj_sJU2.gif");
background-size: cover;
}
.rock{
background-color:#d5d5d4;

}
.dark{
background-color:	rgb(145, 145, 145);

}
.steel{
background-color:rgb(169,169,169);

}
.grass,.bug{
    background-image:url("/img/grookey\ \(online-video-cutter.com\).gif");
    background-size: cover;

}

.poison{

background-color: rgb(70, 4, 70);
}
.ghost{
background-color:rgb(112,128,144);

}

.fairy{
    background-color:#ff9e9e;

}

    
    .flying{
        background-color:#c79494;
        
        }
