#firts::after{
content: "";
background: url("./img/charmander.png");
background-size:cover;
display:inline-block;
width:22px;
height:22px;
position:relative;
top:3px;
left:10px;}
#seconds::after{
content: "";
background: url("./img/squirtle.png");
background-size:cover;
display:inline-block;
width:22px;
height:22px;
position:relative;
top:3px;
left:10px;}

#third::after{
content: "";
background: url("./img/bullbasaur.png");
background-size:cover;
display:inline-block;
width:22px;
height:22px;
position:relative;
top:3px;
left:10px;}

#quarter::after{
content: "";
background: url("./img/snorlax\ \(1\).png");
background-size:cover;
display:inline-block;
width:22px;
height:22px;
position:relative;
top:3px;
left:10px;}

#fifth::after{
content: "";
background: url("./img/jigglypuff.png");
background-size:cover;
display:inline-block;
width:22px;
height:22px;
position:relative;
top:3px;
left:10px;}
#sixth::after{
content: "";
background: url("./img/eevee.png");
background-size:cover;
display:inline-block;
width:22px;
height:22px;
position:relative;
top:3px;
left:10px;}
#seventh::after{
content: "";
background: url("./img/pikachu.png");
background-size:cover;
display:inline-block;
width:22px;
height:22px;
position:relative;
top:3px;
left:10px;}
#eighth::after{
content: "";
background: url("./img/psyduck.png");
background-size:cover;
display:inline-block;
width:22px;
height:22px;
position:relative;
top:3px;
left:10px;}
.card h4::before{
content: "";
background: url("./img/pokebola.png");
background-size:cover;
display:inline-block;
width:15px;
height:15px;
position:relative;
top:1px;
right:4px;
}