*{
margin:0;
padding:0;
box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body { 
font-family:Lato,sans-serif;
background-color: #eff1f0;

}

.filtros{
margin-top:50px;
max-width:15%;
max-height:100%;
}
nav{
background-color:#f74b4b;

}
nav img{
width:120px;
height:50px;
}

.{
    width:70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.list{
margin: 0 auto;
max-width:60vw;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); /*sirve para que se adapte las columnas al responsive //ver grid css*/
grid-auto-rows:auto;
}
.card{
margin-bottom:1em;
}
.loader img{
margin: 0 auto;
display:block;
}
 
