body{
background-color: rgb(247, 4, 45);
overflow: hidden;
}
@font-face{
font-family:retro;
src:url("PressStart2P-Regular.ttf") ;
}
.logo{
display: block;
margin: auto;
margin-bottom: 20px;
width: 250px;
height: 100px;
}
.contenedor{
text-align: center;
margin: 0 auto;
width:600px;
height:60vh;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;

}

.card{
width:400px;
height:500px;
margin:0 auto;
display: inline-block;
}
.pokemon{
width:200px;
height:180px;
margin:0 auto;
display:block;

}
.input {
text-align: center;
margin: 0 auto;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
width:200px;
height:200px;
    }
    .botones{
    margin-top:50px;
    }
.botones button{
background-color:rgb(94, 221, 111);
width:35px;
height:35px;
}
span{
color:rgb(0, 0, 0);
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
font-size:2em;
margin-top:1em;
border-top:1px solid rgb(184, 170, 170);
}
@media (min-width:320px)and (max-width:568px){

.contenedor{
width:100vw;
height:100vh;
}
.pokemon{
width:180px;
height:140px;
}
.ability{
margin:0 auto;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
font-size:8px;
background-color: rgba(150, 7, 216, 0.575);
border-radius:10px;
width:200px;
position: relative;
top:-5%
}

.input {
position: relative;
top:-10%;
}
.input input{
height:38px;
margin-bottom:15px;
}
}