*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
background-color: rgb(22, 20, 143);
overflow:hidden;
}
@font-face{
font-family:retro;
src:url("PressStart2P-Regular.ttf") ;
}
.disabled{
display:none;
}
.active{
display:block;
}
.logo{
display: block;
margin: auto;
margin-bottom: 20px;
width:400px;
height:200px;
}
.logo img{
  width:250px;
  height:250px;
  }
  .contenedor{
 
  }
  .pokemon img{
  width:200px;
  height:200px;
  margin:0 auto;
  
  }
  .ability{
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color:cornsilk;
  border-radius:10px;
  width:200px;
  height:400px;
  position: relative;
  top:-30%;
  
  }
  .input input,button{
  height:40px;
  width:80px;
  margin:0 auto;
  margin-bottom:15px;
  }
  
  .input label{color:cornsilk;}

span,label{
  font-size:1em;
  }
.contenedor{
text-align: center;
margin: 0 auto;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
width:100vw;
height:100vh;

}
.pokemon{
width:150px;
height:150px;
margin:0 auto;
display:block;
}
.animate{
animation-name:heartBeat;
animation-duration:3s;
animation-iteration-count: infinite;
}
button{
margin: 0 auto;
position: relative;
top:-20%;
}
.input {
text-align: center;
margin: 0 auto;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
width:200px;
height:200px;
position: relative;
top:-10%;
font-size:1em;
}
@-webkit-keyframes heartBeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @media (max-width:319px){
  .input{
  margin-bottom:100px;
  }
  .ability{
  position:relative;
  top:40%;
  }
  }
@media (max-width:320px){
.logo{
width:130px;
height:80px;
}
button{
margin-top:25px;
}
.input{
position: fixed;
top:0;
}
}
@media (min-width:321px)and (max-width:374px){


}


@media (min-width:375px) and (max-width:647px){
body{
font-size:14px;
}
.pokemon img{
width:200px;
height:200px;
}
.logo{
width:250px;
height:250px;
}
.input{

}
}